header{
    height: 6rem;
    padding: 0 4rem;

    position: sticky;
    top: 0;
    z-index: 20;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #c9dcff;

}
header nav{
    max-width: 37rem;
    flex-grow: 1.5;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{
    list-style: none;
}
header .logo{
    font-size: 3rem;
    flex-grow: 1;
    max-width: 200px;
    /*background-color: #a4aa;*/
    align-items: center;
    display: flex;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #00000011);
    text-shadow: 5px 5px 4px rgba(0,0,0, 0.25);

}
header .logo span{
    font-family: "Times New Roman", sans-serif;
}

header .logo img{
    object-fit: contain;
    height: 3rem;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0, 0.25));
}

header nav a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}


#tool-section-nav-selector{
    position: relative;

    display: flex;
    justify-content: center;

    font-size: 1.5rem;
}
#tool-section-nav-selector label{
    padding: 1rem;

    border-radius: 5px;
    background-color: white;
}
#tool-section-nav-selector label:hover{
    filter: brightness(0.9);
}

#tool-section-nav-selector .arrow{
    width: 0;
    height: 0;
    margin-left: 0.5rem;

    position: relative;
    top: 0.3rem;

    display: inline-block;

    border: 0.8rem solid transparent;
    border-right-color: black;

    transition: transform 0.5s ease;
}


#tool-section-nav-selector ul{
    height: 0;
    width: 100%;

    position: absolute;
    top: 100%;

    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    background-color: white;

    overflow: hidden;
    transition: height 0.5s ease ;
}
#tool-section-nav-selector li{
    width: 100%;
    height: 3rem;
    min-height: 2rem;
}

#tool-section-nav-selector li a{
    width: 100%;
    height: 100%;

    display: inline-block;

    background-color: white;
    text-align: center;
}


#tool-section-nav-selector li a:hover{
    background-color: var(--section-color);
}
#tool-section-nav-selector li a[href="#container--algebra"]{
    --section-color:#F4A04D;
}
#tool-section-nav-selector li a[href="#container--calculus"]{
    --section-color: #f44d4d;
}
#tool-section-nav-selector li a[href="#container--logic"]{
    --section-color: #4df450;
}
#tool-section-nav-selector li a[href="#container--graphics"]{
    --section-color: #4ddbf4;
}
#tool-section-nav-selector li a[href="#container--measures"]{
    --section-color: #4d7cf4;
}
#tool-section-nav-selector li a[href="#container--statistics"]{
    --section-color: #8a4df4;
}

#tool-section-nav-selector input{
    display: none;
}
#tool-section-nav-selector label:has(input:checked) + ul{
    height: calc(2.5rem *7);
}
#tool-section-nav-selector input:checked + .arrow{
    transform: rotate(-90deg);
}

