main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: auto;*/

    view-timeline:--main;
    /*max-width: 100%;*/

}



.title{
    width: 100vw;
    text-align: center;
    padding: 4rem;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.25);
    position: sticky;
    top: 0;
    animation: fade-in-fade-out ease both;
    animation-range: cover 0% contain 100%;
    animation-timeline:view();
    z-index: 1;
}


@keyframes fade-in-fade-out {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

