#main-wrapper{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto auto;
}
#main-wrapper>.to_animate{
    transition: opacity .5s ease, transform .5s ease;
}
@keyframes slide__to-left {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
@keyframes fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
