#tool-section{
    height: 400vh;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----------------TITLE-----------------*/

#tool-section .title{
    padding: 2rem;

    z-index: 0;

    background-color: #6babff;

    font-size: 2rem;
    max-height: 10rem;
}

#tool-section .title span{
    font-family: "Times New Roman", sans-serif;
    font-weight: 100;
}

/*-----------------TITLE-----------------*/

/*-----------------PANEL CONTAINER-----------------*/
#tool-section .panel-container{
    max-width: 1080px;
    height: 250vh;
}
/*-----------------PANEL CONTAINER-----------------*/

/*----------------------PANEL----------------------*/


#tool-section .panel{
    padding: 2rem;


    position: sticky;
    top: 10rem;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto auto;

    gap: 2rem;

}
#tool-section .panel > img{
    width: 100%;

    grid-row: span 3;
    object-fit: contain;

    filter: drop-shadow(1rem 1rem 0 var(--panel-theme-color));
}

#tool-section .panel h3,
#tool-section .panel p{
    text-align: center;
}
#tool-section .panel h3{
    font-size: 2.5rem;
}
#tool-section .panel p{
    font-size: 2rem;
    font-family: "Times New Roman", sans-serif;
}

/*------------PANEL FEATURES------------*/
#tool-section .panel__feature__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

#tool-section .panel__feature{
    width: 100%;
    display: grid;
    grid-template: auto auto/1fr 2fr;

    text-decoration: none;
    color: black;

    transition: transform .5s ease;
}

#tool-section .panel__feature:hover{
    transform: scale(1.1);
}

#tool-section .panel__feature img{
    width: 100%;

    grid-row: span 2;
    place-self: center;

    object-fit: contain;

    filter: drop-shadow(0.5rem 0.5rem 0 var(--panel-theme-color));
}

#tool-section .panel__feature p,
#tool-section .panel__feature h4{
    font-family: "Lato", sans-serif;
    text-align: start;
}
#tool-section .panel__feature h4{
    font-size: 1.7rem;
}
#tool-section .panel__feature p{
    font-size: 1.2rem;
}
/*------------PANEL FEATURES------------*/



#tool-section .panel-container .panel__in-development-advice{
    width: 30rem;
    border-radius: 20px;
    padding: 2rem;


    position: sticky;
    top: calc(100vh - 14rem);

    display: grid;
    grid-template: auto auto/1fr 2fr;

    background-color: #FFE436;
}


#tool-section .panel-container .panel__in-development-advice img{
    width: 100%;
    height: 100%;

    grid-row: span 2;

    object-fit: contain;
}
#tool-section .panel-container .panel__in-development-advice h4{
    font-size: 2rem;
}

#tool-section .panel-container .panel__in-development-advice p{
    font-size: 1.5rem;
}


/*----------------------PANEL----------------------*/


/*-----------------PANEL VARIANTS-----------------*/
#panel--algebra{
    --panel-theme-color:#F4A04D;
}
/*-----------------PANEL VARIANTS-----------------*/


/*-----------------ANIMATIONS-----------------*/
@keyframes slide__by-left {
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}

/*-----------------ANIMATIONS-----------------*/