#tool-section{
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----------------TITLE-----------------*/

#tool-section .title{
    max-height: 10rem;

    font-size: 2.5rem;
    background-color: #6babff;
}

#tool-section .title span{
    font-family: "Times New Roman", sans-serif;
    font-weight: 100;
}

/*-----------------TITLE-----------------*/

/*-----------------PANEL CONTAINER-----------------*/
#tool-section .panel-container{
    max-width: 1080px;
    height: 250vh;


    view-timeline:--panel-container;
    animation-name: slide__to-left;
    animation-range:cover 60% cover 100%;
    animation-timeline:view();
}
/*-----------------PANEL CONTAINER-----------------*/

/*----------------------PANEL----------------------*/


#tool-section .panel{
    padding: 2rem;


    position: sticky;
    top: 10rem;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto auto;

    gap: 2rem;


}
#tool-section .panel .panel__animated-item{
    --animation-delay:0%;

    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-timeline:--panel-container;
    animation-range:cover calc(0% + var(--animation-delay)) cover calc(35% + var(--animation-delay));
}

#tool-section .panel > img{
    width: 100%;

    grid-row: span 3;
    object-fit: contain;

    filter: drop-shadow(1rem 1rem 0 var(--panel-theme-color));

    animation-name: slide__from-left;
}

#tool-section .panel h3,
#tool-section .panel p{
    text-align: center;
}
#tool-section .panel h3{
    font-size: 2.5rem;
}
#tool-section .panel p{
    font-size: 2rem;
    font-family: "Times New Roman", sans-serif;
}

/*------------PANEL FEATURES------------*/
#tool-section .panel__feature__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}



#tool-section .panel__feature{
    width: 100%;

    display: grid;
    grid-template: auto auto/1fr 2fr;

    text-decoration: none;
    color: black;

    transition: transform .5s ease;
}

#tool-section .panel__feature__list li{
    animation-name: slide__from-bottom;
}
#tool-section .panel__feature__list li:nth-child(1){
    --animation-delay: 4%;
}
#tool-section .panel__feature__list li:nth-child(2){
    --animation-delay: 8%;
}
#tool-section .panel__feature__list li:nth-child(3){
    --animation-delay: 12%;
}

#tool-section .panel__feature:hover{
    transform: scale(1.1);
}

#tool-section .panel__feature img{
    width: 100%;
    padding: 1rem;

    grid-row: span 2;
    place-self: center;
    object-fit: contain;

    filter: drop-shadow(0.5rem 0.5rem 0 var(--panel-theme-color));
}

#tool-section .panel__feature p,
#tool-section .panel__feature h4{
    font-family: "Lato", sans-serif;
    text-align: start;
}
#tool-section .panel__feature h4{
    font-size: 1.7rem;
}
#tool-section .panel__feature p{
    font-size: 1.2rem;
}

/*------------PANEL FEATURES------------*/
/*------------PANEL IN DEVELOPMENT ADVICE------------*/
#tool-section .panel-container .panel__in-development-advice{
    width: 30rem;

    padding: 2rem;
    border-radius: 20px;


    position: sticky;
    top: calc(100vh - 14rem);

    display: grid;
    grid-template: auto auto/1fr 2fr;

    background-color: #FFE436;

    animation-name: slide__from-left;
    animation-timeline:view();
    animation-range:cover 0% cover 25%;
}

#tool-section .panel-container .panel__in-development-advice img{
    width: 100%;
    height: 100%;

    grid-row: span 2;

    object-fit: contain;
}
#tool-section .panel-container .panel__in-development-advice h4{
    font-size: 2rem;
}

#tool-section .panel-container .panel__in-development-advice p{
    font-size: 1.5rem;
}
/*------------PANEL IN DEVELOPMENT ADVICE------------*/
/*----------------------PANEL----------------------*/


/*-----------------PANEL VARIANTS-----------------*/
#panel--algebra{
    --panel-theme-color:#F4A04D;
}
#panel--calculus{
    --panel-theme-color: #f44d4d;
}
#panel--logic{
    --panel-theme-color: #4df450;
}

#panel--graphics{
    --panel-theme-color: #4ddbf4;
}
#panel--measures{
    --panel-theme-color: #4d7cf4;
}
#panel--stadistics{
    --panel-theme-color: #8a4df4;
}
/*-----------------PANEL VARIANTS-----------------*/


/*-----------------ANIMATIONS-----------------*/
@keyframes slide__from-left {
    from{
        translate: -50vw;
    }
    to{
        translate: 0;
    }
}

@keyframes slide__to-left {
    from{
        translate: 0;
    }
    to{
        translate: -100vw;
    }
}

@keyframes slide__from-bottom {
    from {
        translate: 0 100vh;
    }
    to{
        translate: 0;
    }
}


/*-----------------ANIMATIONS-----------------*/